{% block footer %}

<div class="footer">
    <div class="d-flex  flex-wrap pt-3" style="background-color: #1dbf73;">
        <div class="container ">

            <!--Grid column-->
            <div class="row ">

                <ul class="col-6">
                   
                    <li>
                        <a href="#mentionslegales" class="text-white">Mentions légales</a>
                    </li>
                    <li>
                        <a href="#protection_donnees" class="text-white">Politique de protection</a>
                    </li>
          </ul>
            <div class="col-6 text-white" style=" text-align: right;">
                <ul >
      
                    <li>
                        A propos
                    </li>
                    <li>
                        lieux
                    </li>
                    <li>
                       Info contact
                    </li>
                </ul>
            </div>
          </div>
        </div>
    
    {% endblock %}