{% extends 'base.html.twig' %}

{% block body %}
<h1> BIENVENUE </h1>
	<h2 class="text-center">Vos projets ! </h2>
	<div class="row">
		{% for project in projects| reverse %}
			<div class="col-lg-3 col-md-4">
				<div class="card col m-3" style="width: 18rem;">
					<div class="card-body">
                    <div class="text-center">
						<h5 class="card-title">{{ project.title }}</h5>
						<p class="card-text">{{ project.description|slice(0, 80) }}...</p>
						<a href="{{ path("project_show", { slug: project.slug }) }}" class="btn btn-primary">Voir le projet</a>
                        </div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}